body{
    margin: 0;
    font-family: sans-serif;
}



@media (min-width:586px){
.header{
    width: 100%;
    height: fit-content;
    background-color: #1a242f;
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left img{
    width: 112px;
    padding: 2.72px 0;
}
.header-menu{
    padding: 0 16px;
}
.header-menu button{
    background-color: transparent;
    font-size: 17px;
    border: none;
    color: #f2f4f6f6;
}
.header-menu span{
    font-size: 7px;
}
.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f4f6f6;
    width: 322.28px;
}
.header-right button{
    height: fit-content;
    background-color: #0f79af;
    padding: 8.25px 20px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 17px;
}
.header-right p{
    font-size: 17px;
    display: none;
}
.header-right h3{
    margin: 0;
}
.header-right img{
    width: 20px;
}
.header-right span{
    font-size: 7px;
    margin: 0 6px;
}
.welcome-prime{
    background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg');
    background-size: cover;
    height: 420px;
    width: 100%;
    padding: 64px 66.2969px;
    box-sizing: border-box;
}
.welcome-prime-bg{
    display: none;
}
.welcome-prime-contents{
    color: white;
    width: 596.7px;
}
.welcome-prime-contents h1{
    font-size: 44px;
    font-weight: 100;
    margin: 48px 0 24px 0;
}
.welcome-prime-contents h3{
    font-size: 24px;
    font-weight: 50;
    margin: 0 0 20px 0;
}
.welcome-prime-contents button{
    background-color: #0f79af;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 14px 64.405px;
    border-radius: 3px;
}
.prime-rent{
    background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Left.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 50px 66.2969px;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}
.prime-rent-bg{
    display: none;
}
.prime-rent-contents{
    color: white;
}
.prime-rent-contents h1{
    font-size: 40px;
    font-weight: 100;
    margin: 40px 0 20px 0;
}
.prime-rent-contents h3{
    font-size: 21px;
    font-weight: 50;
    margin: 0 0 50px 0;
}
.prime-rent-contents button{
    background-color: #0f79af;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 17.045px 101.765px;
    border-radius: 3px;
}
.prime-channels{
    width: 100%;
    display: flex;
    padding: 10px 66.2969px;
    box-sizing: border-box;
}
.prime-channels-contents{
    width: 50%;
    padding: 0 59px 0 0;
    box-sizing: border-box;
}
.prime-channels-contents h1{
    font-size: 44.8px;
    font-weight: lighter;
}
.prime-channels-contents h3{
    font-size: 24px;
    font-weight: lighter;
}
.prime-channels-icon{
    width: 50%;
}
.prime-channels-icon img{
    width: 192.91px;
    margin: 1px;
}
.fire-tv{
    background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left.jpg');
    background-size: cover;
    padding: 50px 60px;
}
.fire-tv-bg{
    display: none;    
}
.fire-tv-contents{
    height: 350px;
    width: 550px;
    color: white;
    margin: 0 0 0 650px;
}
.fire-tv-contents h1{
    font-weight: lighter;
    font-size: 40px;
}
.fire-tv-contents h3{
    font-weight: lighter;
    font-size: 21px;
}
.fire-tv-contents button{
    background-color: #0f79af;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 18.545px 92.205px;
}
.prime-kids{
    background-image: url('https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-kids-30Jan._CB1517304519_.jpg');
    background-size: cover;
    padding: 50px 66.2969px;
}
.prime-kids-bg{
    display: none;    
}
.prime-kids-contents{
    height: 350px;
    width: 540px;
    color: white;
}
.prime-kids-contents h1{
    font-weight: lighter;
    font-size: 40px;
}
.prime-kids-contents h3{
    font-weight: lighter;
    font-size: 21px;
    margin: 0 0 50px 0;
}
.prime-kids-contents button{
    background-color: #0f79af;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 18.545px 92.205px;
    font-weight: bold;
}
.footer{
    width: 100%;
    background-color: #222222;
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
}
.footer img{
    height: 32px;
}
.footer-links{
    display: flex;
    width: 350px;
    height: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
}
.footer-links p{
    font-size: 15px;
    color: #0f79af;
    font-weight: lighter;
    margin: 0;
}
.footer h5{
    font-size: 15px;
    color: #949494;
    font-weight: lighter;
    margin: 0 0 10px 0;
}
.primevideo-redirect-card{
    border: 1px solid gray;
    border-radius: 15px;
    margin: 20px 0 0 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;    
    text-align: center;
}
}

@media (max-width:586px){
    .header{
        width: 100%;
        height: fit-content;
        background-color: #1a242f;
        position: sticky;
        top:0;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .header-left{
        display: flex;
        align-items: center;
    }
    .header-left img{
        width: 112px;
        padding: 2.72px 0;
    }
    .header-menu{
        display: none;
    }
    .header-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #f2f4f6f6;
        width: 150px;
    }
    .header-right button{
        display: none;
    }
    .header-right p{
        font-size: 17px;
    }
    .header-right h3{
        margin: 0;
    }
    .header-right img{
        width: 20px;
        height: 20px;
    }
    .header-right span{
        font-size: 7px;
        margin: 0 6px;
    }
    .header-right p{
    font-size: 14px;
    }
    .menu-lang{
        display: none;
    }
    .header-right img{
        width: 20px;
    }
    .profile-dropdown{
        display: none;
    }
    .header-right span{
        font-size: 7px;
        margin: 0 6px;
    }

    .welcome-prime{
        width: 100%;
        box-sizing: border-box;
    }
    .welcome-prime-bg{
        background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg');
        background-position: top right;
        background-size: cover;
        height: 300px;
    }
    .welcome-prime-contents{
        color: white;
        width: 100%;
        background-color: black;
        padding: 50px 30px 150px 30px;
        text-align: center;
        box-sizing: border-box;
    }
    .welcome-prime-contents h1{
        font-size: 38px;
        font-weight: lighter;
        margin: 20px 0 24px 0;
    }
    .welcome-prime-contents h3{
        font-size: 18px;
        font-weight: lighter;
        margin: 0 0 20px 0;
    }
    .welcome-prime-contents button{
        background-color: #0f79af;
        font-size: 17px;
        color: white;
        border: none;
        padding: 14px 20%;
        border-radius: 3px;
    }
    .prime-rent{
        width: 100%;
        box-sizing: border-box;
    }
    .prime-rent-bg{
        background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Left._SX1440_CR0,0,865,675_QL80_AC_FP_.jpg');
        background-size: cover;
        height: 300px;
        width: 100%;
    }
    .prime-rent-contents{
        color: white;
        background-color: black;
        padding: 10px 30px 150px 30px;
        width: 100%;
        height: fit-content;
        text-align: center;
        box-sizing: border-box;
    }
    .prime-rent-contents h1{
        font-size: 38px;
        font-weight: 100;
        margin: 10px 0 20px 0;
    }
    .prime-rent-contents h3{
        font-size: 18px;
        font-weight: 50;
        margin: 0 0 20px 0;
    }
    .prime-rent-contents button{
        background-color: #0f79af;
        font-size: 17px;
        font-weight: bold;
        color: white;
        border: none;
        padding: 17.045px 30%;
        border-radius: 3px;
    }
    .prime-channels{
        width: 100%;
        height: fit-content;
        padding: 0px 30px;
        box-sizing: border-box;
        margin: 0;
    }
    .prime-channels-contents{
        margin-top: 10px;
        padding: 20px 30px 10px 30px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        box-sizing: border-box;
    }
    .prime-channels-contents h1{
        font-size: 38px;
        font-weight: lighter;
        margin: 0;
        margin-bottom: 20px;
    }
    .prime-channels-contents h3{
        font-size: 18px;
        font-weight: lighter;
        margin: 0;
    }
    .prime-channels-icon{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    .prime-channels-icon img{
        width: 150px;
        margin: 5px;
    }
    .fire-tv{
        margin: 0;
    }
    .fire-tv-bg{
        height: 300px;
        width: 100%;
        background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left._SX1440_CR0,0,865,675_QL80_AC_FP_.jpg');
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
    }
    .fire-tv-contents{
        width: 100%;
        color: white;
        background-color: black;
        margin: 0 0 0 20;
        padding: 50px 30px 150px 30px;
        box-sizing: border-box;
        text-align: center;
    }
    .fire-tv-contents h1{
        font-weight: lighter;
        font-size: 38px;
    }
    .fire-tv-contents h3{
        font-weight: lighter;
        font-size: 18px;
    }
    .fire-tv-contents button{
        background-color: #0f79af;
        color: white;
        border-radius: 3px;
        border: none;
        padding: 18.545px 92.205px;
    }
    .prime-kids{
        margin: 0;
    }
    .prime-kids-bg{
        width: 100%;
        height: 300px;
        background-image: url('https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-kids-30Jan._SX1440_CR575,0,865,675_QL80_AC_FP_.jpg');
        background-size: cover;
    }
    .prime-kids-contents{
        background-color: black;
        width: 100%;
        color: white;
        padding: 50px 30px 150px 30px;
        box-sizing: border-box;
        text-align: center;
    }
    .prime-kids-contents h1{
        font-weight: lighter;
        font-size: 38px;
    }
    .prime-kids-contents h3{
        font-weight: lighter;
        font-size: 18px;
        margin: 0 0 50px 0;
    }
    .prime-kids-contents button{
        background-color: #0f79af;
        color: white;
        border-radius: 3px;
        border: none;
        padding: 18.545px 92.205px;
        font-weight: bold;
    }
    .footer{
        width: 100%;
        background-color: #222222;
        text-align: center;
        padding: 12px;
        box-sizing: border-box;
    }
    .footer img{
        height: 32px;
    }
    .footer-links{
        display: flex;
        width: fit-content;
        margin: 0 auto;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .footer-links p{
        font-size: 11px;
        color: #0f79af;
        font-weight: lighter;
        margin: 0 10px;
    }
    .footer h5{
        font-size: 12px;
        color: #949494;
        font-weight: lighter;
        margin: 5px 0 10px 0;
    }
    .primevideo-redirect-card{
        border: 1px solid gray;
        border-radius: 15px;
        margin: 20px 0 0 0;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;    
        text-align: center;
    }
}


.header-right a{
    text-decoration: none;
    color: white;
}